Carousel {
    z-index: 9;
}

.content-side{
    background-color: #182434;
    padding-top: 15px;;
}

.new-release-music{

    h1{
        color: white;
    }
    
    .new-music-list{
        width: 100%;
        padding-left: 0px;
        display: inline-flex;
        .new-music-card{
            width: 48%;
            border-bottom: 0.5px solid #5a5858;
            padding: 10px 0px;
            margin: 0px 10px;
            div{
                float: right;
                margin-right: 34%;
                padding-top: 10px;

                h3{
                    color: white;
                    margin: 0px;
                }
                p{
                    color: rgb(110, 108, 108);
                    margin: 0px;
                }
            }
        }

    }
    
}

a{cursor: pointer;}

.title-music-video ul li{
    display: inline;
}