.header-logo li{
    display: inline;
}

.container{
    text-align: center;
}

.wrapper{
    display: block;
    background-color: #1b3455 !important;
    color: white !important;
    height: 150%;
    position: sticky;
    top: 0px;
}

.inline{
    display:inline-block;
}

#keyword-search{
    color: black;
    border-radius: 5px;
}

.search button{
    border-radius: 5px;
    cursor: pointer;
}

.topic-menu{
    width: 150%;
}

.rank-menu{
    width: 150%;
}

.album-menu{
    width:200%;
}

.album-menu Col a{
    width: 20%;
}

.header-top-menu{
    display: inline;
    margin-top: 2px;
}
    .header-top-menu li{
        display:inline;
    }
    .header-top-menu Dropdown{
        background-color: rgb(124, 17, 17);
        z-index: 10;
        color: white;
    }



.music-video-menu{
    width:150%;
}

.artist-menu{
    width: 150%;
}
.ant-dropdown-trigger{
    margin-right: 40px;
}